[user]
    name = bansikah22
    email = tandapnoelbansikah@gmail.com
    
[commit]
    gpgsign = false

[gpg]
    program = /usr/local/bin/gpg

[core]
    editor = vim
    autocrlf = input
    eol = lf
    filemode = true
    excludesfile = ~/.gitignore_global
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[init]
    defaultBranch = main

[color]
    ui = auto

[push]
    default = simple
    autoSetupRemote = true

[pull]
    rebase = false

[merge]
    tool = vimdiff
    conflictstyle = diff3

[diff]
    tool = vimdiff
    colorMoved = zebra
    algorithm = patience

[status]
    showUntrackedFiles = all
    submoduleSummary = true

[log]
    oneline = true
    graph = true
    decorate = short

[alias]
    # Basic aliases
    st = status
    co = checkout
    br = branch
    ci = commit
    df = diff
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    visual = !gitk
    
    # Status aliases
    s = status --short --branch
    ss = status --short
    
    # Commit aliases
    cm = commit -m
    ca = commit -a
    cam = commit -am
    amend = commit --amend
    
    # Branch aliases
    b = branch
    ba = branch -a
    bd = branch -d
    bD = branch -D
    bm = branch -m
    br = branch -r
    
    # Checkout aliases
    cob = checkout -b
    com = checkout main
    cod = checkout develop
    
    # Merge aliases
    m = merge
    mn = merge --no-ff
    ms = merge --squash
    
    # Rebase aliases
    rb = rebase
    ri = rebase -i
    rc = rebase --continue
    ra = rebase --abort
    rs = rebase --skip
    
    # Stash aliases
    sa = stash apply
    sc = stash clear
    sd = stash drop
    sl = stash list
    sp = stash pop
    sts = stash save
    sw = stash show
    
    # Remote aliases
    rem = remote
    ra = remote add
    rr = remote remove
    rv = remote -v
    ru = remote update
    rp = remote prune
    
    # Fetch aliases
    f = fetch
    fa = fetch --all
    fp = fetch --prune
    
    # Pull aliases
    p = pull
    pr = pull --rebase
    pt = pull --tags
    
    # Push aliases
    pu = push
    pum = push origin main
    pud = push origin develop
    put = push --tags
    puu = push -u origin HEAD
    
    # Log aliases
    l = log --oneline
    ll = log --oneline --graph --decorate --all
    lf = log --follow
    lp = log --patch
    ls = log --stat
    l1 = log -1
    l5 = log -5
    l10 = log -10
    
    # Show aliases
    sh = show
    shs = show --stat
    shp = show --patch
    
    # Diff aliases
    d = diff
    dc = diff --cached
    dh = diff HEAD
    d1 = diff HEAD~1
    d2 = diff HEAD~2
    d3 = diff HEAD~3
    
    # Reset aliases
    rst = reset
    rh = reset --hard
    rsoft = reset --soft
    rm = reset --mixed
    
    # Clean aliases
    cl = clean
    clf = clean -f
    clfd = clean -f -d
    cln = clean -n
    
    # Tag aliases
    t = tag
    ta = tag -a
    td = tag -d
    tl = tag -l
    
    # Submodule aliases
    sm = submodule
    sma = submodule add
    smu = submodule update
    smi = submodule init
    
    # Worktree aliases
    wt = worktree
    wta = worktree add
    wtr = worktree remove
    wtl = worktree list
    
    # Blame aliases
    blame = blame -w
    
    # Grep aliases
    grep = grep -n
    
    # Config aliases
    config = config --list
    configg = config --global
    configl = config --local
    
    # Help aliases
    help = help --all
    
    # Version aliases
    version = --version
    
    # Custom DevOps aliases
    dev = !git checkout develop
    feat = !git checkout -b feature/
    hotfix = !git checkout -b hotfix/
    release = !git checkout -b release/
    
    # Conventional commit aliases
    featc = !git commit -m "feat: "
    fixc = !git commit -m "fix: "
    docsc = !git commit -m "docs: "
    stylec = !git commit -m "style: "
    refactorc = !git commit -m "refactor: "
    testc = !git commit -m "test: "
    chorec = !git commit -m "chore: "
    
    # Quick workflow aliases
    quickc = !git add . && git commit -m
    savew = !git add . && git commit -m "WIP: $(date)"
    undoc = !git reset HEAD~1
    unstagef = !git reset HEAD --
    
    # Branch management aliases
    cleanupb = !git branch --merged | grep -v '\\*\\|main\\|develop' | xargs -n 1 git branch -d
    pruner = !git remote prune origin
    
    # History aliases
    graphh = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    treeh = log --graph --oneline --all
    
    # File operations
    uncommits = reset --soft HEAD~1
    recommits = commit -c ORIG_HEAD
    
    # Stash operations
    pops = stash pop
    applys = stash apply
    drops = stash drop
    
    # Remote operations
    syncs = !git fetch && git rebase origin/$(git branch --show-current)
    publishs = !git push -u origin $(git branch --show-current)